<p>studentlist works!</p>
<table border="1" width="100%">

    <tr>
        <th>S NO</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>College</th>
    </tr>

    <tbody>
        <tr>
            <td>1</td>
            <td>B11</td>
            <td>java@java.com</td>
            <td>1234123444</td>
            <td>BITS</td>
        </tr>
        <tr>
            <td>1</td>
            <td>B11</td>
            <td>java@java.com</td>
            <td>1234123444</td>
            <td>BITS</td>
        </tr>
        <tr>
            <td>1</td>
            <td>B11</td>
            <td>java@java.com</td>
            <td>1234123444</td>
            <td>BITS</td>
        </tr>
        <tr>
            <td>1</td>
            <td>B11</td>
            <td>java@java.com</td>
            <td>1234123444</td>
            <td>BITS</td>
        </tr>
        <tr>
            <td>1</td>
            <td>B11</td>
            <td>java@java.com</td>
            <td>1234123444</td>
            <td>BITS</td>
        </tr>
        <tr>
            <td>1</td>
            <td>B11</td>
            <td>java@java.com</td>
            <td>1234123444</td>
            <td>BITS</td>
        </tr>
        <tr *ngFor = "let data1 of lnames"> 

            <td>{{data1.id}}</td>
            <td>{{data1.name}}</td>
            <td>{{data1.email}}</td>
            <td>{{data1.phone}}</td>
            <td>{{data1.college}}</td>
        </tr>


    </tbody>

</table>

<h1>
    <li *ngFor="let data of lnames">
        {{data.id}},
        {{data.name}}
    </li>
</h1>