<p>studentlist works!</p>
<table border="1" width="100%">

    <tr>
        <th>S NO</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>College</th>
    </tr>

    <tbody>
        <tr>
            <td>1</td>
            <td>B11</td>
            <td>java@java.com</td>
            <td>1234123444</td>
            <td>BITS</td>
        </tr>
        <tr>
            <td>1</td>
            <td>B11</td>
            <td>java@java.com</td>
            <td>1234123444</td>
            <td>BITS</td>
        </tr>
        <tr>
            <td>1</td>
            <td>B11</td>
            <td>java@java.com</td>
            <td>1234123444</td>
            <td>BITS</td>
        </tr>
        <tr>
            <td>1</td>
            <td>B11</td>
            <td>java@java.com</td>
            <td>1234123444</td>
            <td>BITS</td>
        </tr>
        <tr>
            <td>1</td>
            <td>B11</td>
            <td>java@java.com</td>
            <td>1234123444</td>
            <td>BITS</td>
        </tr>
        <tr>
            <td>1</td>
            <td>B11</td>
            <td>java@java.com</td>
            <td>1234123444</td>
            <td>BITS</td>
        </tr>
    </tbody>

</table>